/* container to store cards and map components */
#content-container {
    display: flex;
    justify-content: center;
    gap: 80px; 
    margin: 40px auto 0;
    width: 60%;
    max-width: 1200px;
}

/* container to store restaurant cards */
#restaurant-container {
    align-items: center;
    justify-content: center;
}

/* container to store map */
#map-container {
    align-items: center;
    justify-content: center;
    width: 70%; /* Ensure the container takes the full width */
}

/* formatting for map */
#map {
    width: 70%; /* Map should take up the full width of its container */
    height: 400px; /* Ensure a fixed height for the map */
    border: 1px solid #ccc; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
